<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>StructSlice</title>
  </head>

  <body>
    <ul>
      {{range .}}
        <li>{{.Name}} - {{.Saying}}</li>
      {{end}}
    </ul>
  </body>
</html>