<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="margin: 0; color: white;"
                     :style="{'background-color': monster.healthBar(), width: monster.healthWithPercent()}">
                    {{ player.health }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="margin: 0; color: white;"
                     :style="{'background-color': monster.healthBar(), width: monster.healthWithPercent()}">
                    {{ monster.health }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls">
        <div v-if="gameIsOngoing" class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
        <div v-else>
            Game Over!
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="action in actions" :class="action.character + '-turn'">
                    {{  action.activity }}
                </li>
            </ul>
        </div>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>
